html{
  scroll-behavior:smooth;
}

.newspaper1 {
    column-count: 3;
    column-gap: 40px;    
    column-rule-width: 3px;
    column-rule-style: dotted;
    column-rule-color: #ff0000;
    /* column-rule: 1px solid #ff0000; /* shorthand */    
}