#design-1{
    color:blue;
}

.design-1{
    color:coral;
}

p{
    color:gold !important;
}

/*
Regra do !importante:
- Ignora a regra da prioridade e especificidade

Regra da prioridade:
1º inline
2º internal
3º external

Regra da especificidade:
1º id
2º class
3º seletor de elemento

*/