.flex-container-1{
    /* Lembre-se que display block é o padrão */
    display: flex;    
    background: #7eb769;
    height: 600px;    
    
    /* O flex-direction indica a direção dos itens (eixo principal). Ele possui os valores: row, row-reverse, column e column-reverse */
    flex-direction: row;
    /* O flex-wrap permite que os itens sejam jogados em outra linha, caso não haja mais espaço. Evita criar uma barra de rolagem. Ele possui os valores: wrap, nowrap, wrap-reverse */
    flex-wrap: wrap;
    /* flex-flow é um shorthand do flex-wrap + flex-direction*/
    /* flex-flow: row wrap */
        
    /* O justify-content define o alinhamento dos itens horizontalmente. Use flex-start, center e flex-end  */
    justify-content: center;
    /* O align-items define o alinhamento das linhas verticalmente. Use flex-start, center e flex-end */
    align-content: center;
    /* O align-items define o alinhamento dos itens verticalmente. Use flex-start, center e flex-end */
    align-items: center;
    
}

.flex-container-1 div{
    /* Com calc(1), as divs se ajustam uniformemente. Use os valores 0 e 1 no argumento */
    flex-grow:calc(1);
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 5px;
    padding: 30px;
    text-align: center;
}

/*
Simulador Flex: https://www.treinaweb.com.br/blog/css-flexbox-um-guia-interativo-parte-1-containers
*/