/* Acesse https://fonts.google.com para mais fontes */
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Roboto:wght@100&display=swap');

p{
    font-family: 'Roboto', 'Moon Dance', 'Arial';
    font-size: 18px;
    font-style:italic;
    font-weight: bold;
    color: #ffffff;    
    text-align: justify;
    text-transform:none;
    letter-spacing: none;
    line-height: none;
    word-break: break-all;
    word-spacing: none;
    text-indent: 50px;    
    background-color: #3740b2;
    padding: 30px;
    border-radius: 10px;
}