/* Principais overflow:
    - visible: é o padrão, mostra o conteúdo fora do elemento
    - hidden: mostra o conteúdo dentro do elemento
    - scroll: cria uma barra de rolagem
    - auto: tenta encontrar a melhor forma de mostrar o conteúdo
    */

.container{
    background: #ff00ff;
    color: #000000;
    height: 150px;
    overflow: hidden;
}

body{
    overflow-y: hidden;
}