#design-1{
    color:blue;
}

.design-1{
    color:coral;
}

p{
    color:gold;
}

/*
Regra da prioridade:
1º inline
2º internal
3º external

Regra da especificidade:
1º id
2º class
3º seletor de elemento

*/