/* CSS aplicado em todos os h1 */
h1{
    color: #cb3f3f; 
}

/* Exemplo de Id */
#formatacao-1{
    color: #f8790a; 
}

/* Exemplo de classe */
.formatacao-1{
    color: #227d14; 
}

/* Exemplo de classe em Combo */
.formatacao-2{
    font-weight: bold;
}

/* Exemplo de classe específica para um elemento */
h2.formatacao-3{
    color: #c230ac;
}

/* Também é possível aplicar em mais de uma tag, class ou id */
h3, h4 {
    color: #cac011;
}