.div-1{
    width: 300px;
    height: 150px;
    opacity: 0.35;
}

img{
    width: 300px;
    height: 150px;
    /* A opacity 1 equivale a 100% (sem transparência) */
    opacity: 0.35;
}

table, td{
    width: 300px;
    height: 150px;
    opacity: 0.35;
}

input{
    width: 300px;
    height: 150px;
    opacity: 0.35;
}